# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pyo
*.egg-info/
dist/
build/
*.egg
venv/
backend/.venv/
.env
backend/.env
instance/
db.sqlite3
*.sqlite3
*.log
.pytest_cache/
.coverage

# Django
staticfiles/
media/

# Node
frontend/node_modules/
frontend/dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# IDEs
.vscode/
.idea/
*.iml

# OS
.DS_Store
Thumbs.db

# Docker
docker-compose.override.yml
